.QuoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  scroll-snap-align: center;
}

.Instruction {
  font-style: italic;
  color: #a5a5a5;
  font-size: 0.6em;
}

.Quote {
  font-size: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.ButtonContainer {
  font-size: 0.8em;
  width: 100px;
  margin: 30px;
  padding: 0;
}

.ArrowContainer {
  position: absolute;
  z-index: 2;
  bottom: 0;
}

@media (max-width: 768px) {
  .Quote {
    font-size: 4em;
  }
  .ArrowContainer {
    position: static;
  }
}
