.Logo {
  font-size: 1.5em;
  padding: 10px;
  position: fixed;
  font-weight: lighter;
  cursor: pointer;
  user-select: none;
}

.Logo a {
  text-decoration: none;
}

.Black {
  color: #000;
}

.White {
  color: #fff;
}
